/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('../css/color.css');
html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    vertical-align: baseline;
    text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
.text-dark {
    color: var(--dark-color)!important;
}
.text-light {
    color: var(--light-color)!important;
}
.bg-dark {
    background-color: var(--dark-color)!important;
}

/* Top Bar */
.top-bar {
    background-color: #88d1d9;
}

.top-bar ul {
    display: flex;
    align-items: center;
}

.top-bar ul li {
    border-left: .5px solid rgba(255,255,255,.25);
    border-right:.5 px solid rgba(255,255,255,.25);
    padding: 15px;
}

.top-bar ul a {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    letter-spacing: -.5px;
}

.social-sec li:first-child a {
    padding: 0 10px;
}

/* Brand Logo and Support section */

.brandlogo-sec {
    background-color: rgba(241, 241, 241, 1);
}
.main-search-bar {
    width: 100%;
    position: relative;
    display: flex;
}

.main-search-bar .searchTerm {
    width: 100%;
    border: 1px solid #666;
    border-right: none;
    padding: 10px;
    height: 55px;
    border-radius: 0;
    outline: none;
    color: #9DBFAF;
}

.main-search-bar .searchTerm:focus {
    color: #333;
}

.main-search-bar .searchButton {
    width: 65px;
    height: 55px;
    border: 1px solid #666;
    background: #88d1d9;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    border-left: 0;
}

.user-section li {
    margin: 0 8px;
}

.user-section li a {
    font-size: 18px;
}
.mega-dropdown {
    position: static;
}

.mega-dropdown .icon {
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mega-dropdown .icon i {
    color: #000;
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
}

.navbar-expand-lg .navbar-nav .nav-link::before {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #000;
    transition: all ease 0.3s;
    bottom: 2px;
    height: 2px;
    transition: 0.5s ease-in-out;
}
.navbar-expand-lg .navbar-nav .nav-link:hover::before,
.navbar-expand-lg .navbar-nav .nav-link.active::before {
    width: 100%;
    background-color: #88d1d9;
}
.navbar-expand-lg .navbar-nav .nav-link:hover,
.navbar-expand-lg .navbar-nav .nav-link.active {
    color: #88d1d9;
}

.navbar-nav li {
    margin: 0 25px;
}

.slick-prev:before,
.slick-next:before {
    display: none;
}
.footer-container {
    background-color: #f1e672;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.footer-sidebar {
    padding-top: 40px;
    padding-bottom: 10px;
}
.footer-sidebar {
    padding-top: 40px;
    padding-bottom: 10px
}

.footer-column {
    margin-bottom: 30px
}

[class*="color-scheme-light"] .footer-widget {
    --wd-link-color: rgba(255, 255, 255, .6)
}

.wd-prefooter {
    padding-bottom: 40px;
    background-color: var(--wd-main-bgcolor)
}

.copyrights-wrapper {
    border-top: 1px solid var(--brdcolor-gray-300)
}

.min-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: -15px;
    margin-left: -15px;
    padding-top: 20px;
    padding-bottom: 20px
}

.min-footer>div {
    flex: 1 0 50%;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 50%;
    line-height: 1.2
}

.min-footer .col-right {
    text-align: right
}

footer p {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 25px;
}
footer a {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #242424;
}
footer .footer-logo {
    margin-bottom: 20px;
}

.copyrights-centered .min-footer {
    align-items: stretch;
    flex-wrap: wrap;
    text-align: center
}

.copyrights-centered .min-footer .col-right {
    text-align: center
}

.copyrights-centered .min-footer>div {
    flex-basis: 100%;
    margin-bottom: 15px;
    max-width: 100%
}

.copyrights-centered .min-footer>div:last-child {
    margin-bottom: 0
}

@media (max-width:1024px) {
    .min-footer {
        align-items: stretch;
        flex-wrap: wrap;
        text-align: center
    }

    .min-footer .col-right {
        text-align: center
    }

    .min-footer>div {
        flex-basis: 100%;
        margin-bottom: 15px;
        max-width: 100%
    }

    .min-footer>div:last-child {
        margin-bottom: 0
    }
}
.widget_nav_menu {
    margin-top: 120px;
}

.widget_nav_menu ul li {
    margin-bottom: 15px;
}

.widget_nav_menu h2 {
    font-size: 15px;
    font-weight: 600;
    line-height: 2em;
    width: max-content;
    border-bottom: 2px solid #333;
    margin-bottom: 10px;
}
.widget_nav_menu .social {
    display: flex;
    column-gap: 10px;
}